@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.projectHead {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  
}

@media (max-width: 650px) {
  .projectHead {
    flex-direction: column;
    align-items: center;
    /* Center align the flex items if needed */
  }
}

.projectAuthor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}

.projectName {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  padding: 0;
  
}
.projectType {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.projectStatus {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  padding: 8px;
  /* width: 40%; */
}
