.projectCardOverlay {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  border:2px solid rgba(69, 123, 157,0.3);
  border-radius:7px ;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px rgba(69, 123, 157,0.3);

}
.projectMedia {
  height: 30vh;
  width: 40vw;
  border-radius:3px 3px 0 0 ;
  object-fit: cover;
}
.projectCardInfo {
  padding: 2vh;
  
}
.projectCardInfoHead {
  display: flex;
  justify-content: space-around;
  width: 40vh;
  font-weight: 700;
}
.projectCardNameType {
  display: flex;
  gap: 1vh;
}
.projectTechStack {
  display: flex;
  justify-content: space-evenly;
  padding: 1vh;
  flex-wrap: wrap;
}
